{% extends "bootstrap/base.html" %}


{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.min.css">
{% endblock %}


{% block title %}Looper{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Looper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Running jobs</a></li>
      <li><a href="/about">About</a></li> 
    </ul>
  </div>
</nav>
{% endblock %}

{% block scripts %}
{{super()}}

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Dynatable/0.3.1/jquery.dynatable.min.js"></script>
    <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

{% endblock %}
